#eCard1 {
  display: flex;
  background-image: linear-gradient($gradientColor1, $gradientColor2),
    url(../img/spells-Pack2/14.png);
}
#eCard2 {
  display: flex;
  background: linear-gradient($gradientColor1, $gradientColor2),
    url(../img/spells-Pack2/46.png);
}
#eCard3 {
  display: flex;
  background: linear-gradient($gradientColor1, $gradientColor2),
    url(../img/spells-Pack2/33.png);
}
#prCard1 {
  display: flex;
  background: linear-gradient($gradientColor1, $gradientColor2),
    url(../img/spells-Pack2/19.png);
}
#prCard2 {
  display: flex;
  background: linear-gradient($gradientColor1, $gradientColor2),
    url(../img/spells-Pack2/02.png);
}
#prCard3 {
  display: flex;
  background: linear-gradient($gradientColor1, $gradientColor2),
    url(../img/spells-Pack2/15.png);
}
#phCard01 {
  display: flex;
  background: linear-gradient($gradientColor1, $gradientColor2),
    url(../img/spells-Pack2/39.png);
}
#phCard02 {
  display: flex;
  background: linear-gradient($gradientColor1, $gradientColor2),
    url(../img/spells-Pack2/21.png);
}
#phCard03 {
  display: flex;
  background: linear-gradient($gradientColor1, $gradientColor2),
    url(../img/spells-Pack2/42.png);
}
#phCard04 {
  display: flex;
  background: linear-gradient($gradientColor1, $gradientColor2),
    url(../img/spells-Pack2/09.png);
}
#phCard05 {
  display: flex;
  background: linear-gradient($gradientColor1, $gradientColor2),
    url(../img/spells-Pack2/48.png);
}
#phCard06 {
  display: flex;
  background: linear-gradient($gradientColor1, $gradientColor2),
    url(../img/spells-Pack2/25.png);
}
#phCard07 {
  display: flex;
  background: linear-gradient($gradientColor1, $gradientColor2),
    url(../img/spells-Pack2/31.png);
}
#phCard08 {
  display: flex;
  background: linear-gradient($gradientColor1, $gradientColor2),
    url(../img/spells-Pack2/35.png);
}
#phCard09 {
  display: flex;
  background: linear-gradient($gradientColor1, $gradientColor2),
    url(../img/spells-Pack2/14.png);
}
#phCard10 {
  display: none;
  background: linear-gradient($gradientColor1, $gradientColor2),
    url(../img/spells-Pack2/18.png);
}
#phCard11 {
  display: none;
  background: linear-gradient($gradientColor1, $gradientColor2),
    url(../img/spells-Pack2/05.png);
}
#phCard12 {
  display: none;
  background: linear-gradient($gradientColor1, $gradientColor2),
    url(../img/spells-Pack2/22.png);
}
