.fightArea {
  width: 70%;
  height: 35%;
  display: flex;
  border-radius: 50%;
  background: linear-gradient(20deg, $stilColor18, $stilColor17);
  box-shadow: 0 15px 20px $stilColor18, 0 0 40px inset $stilColor13;
  position: absolute;
  top: 25%;
}

#enemyDeck,
#playerRoundDeck,
#playerHandDeck {
  width: 60vw;
  height: 28vh;
  position: absolute;
  top: 1%;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  > div {
    width: 10vw;
    min-width: 75px;
    max-width: 120px;
    aspect-ratio: 1/1.3;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0 0 5px $stilColor12;
    border: 2px solid $stilColor06;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.5rem;
    color: $stilColor01;
    font-weight: 600;
    text-align: center;
    padding: 1% 2%;
    h3 {
      font-size: 1.3em;
      flex: 2;
    }
    h4 {
      color: $stilColor09a;
      font-weight: bold;
      letter-spacing: 0.3em;
    }
    h5 {
      color: $typColorW;
      font-size: 1.1em;
      letter-spacing: 0.1em;
    }
    div {
      width: 100%;
      font-size: 0.8em;
      display: flex;
      justify-content: space-between;
      span {
        font-weight: 900;
        text-align: right;
        letter-spacing: 0.2em;
      }
    }
    transition: 0.3s;
  }
  > :hover {
    cursor: pointer;
    border: 2px solid $stilColor03;
    box-shadow: 0 0 15px $stilColor06;
  }
}
#playerRoundDeck {
  top: 50%;
  z-index: 1;
}
#playerHandDeck {
  flex-wrap: wrap-reverse;
  width: 90vw;
  height: 45vh;
  justify-content: space-evenly;
  column-gap: 1vw;
  row-gap: 1vh;

  top: 53%;
  z-index: 0;
  > div {
    width: 10%;
    min-width: 45px;
    max-width: 120px;
    height: 49%;
    padding: 0.5%;
    h3 {
      font-size: 1em;
    }
    h4 {
      font-size: 0.8em;
    }
    transition: 0.3s;
  }
  > :hover {
    cursor: auto;
    border: 2px solid $stilColor06;
    box-shadow: 0 0 5px $stilColor12;
  }
}
