//*components
button {
  font-size: clamp(1rem, 1.8vw, 2.4rem);
}
input {
  font-size: clamp(1rem, 1.8vw, 2.4rem);
}
//*menu
.menu {
  p {
    font-size: clamp(1.2em, 1.8vw, 2.4rem);
  }
}
.info {
  font-size: clamp(1.6rem, 2.5vw, 3.4rem);
}
//*deck

.fightArea {
  div {
    font-size: clamp(1.8rem, 2.5vw, 3.8rem);
  }
}

#enemyDeck,
#playerRoundDeck,
#playerHandDeck {
  div {
    font-size: clamp(0.5rem, 1vw, 1rem);
    h3 {
      font-size: clamp(1.1em, 1.5vw, 1.8em);
    }
    h4 {
      font-size: clamp(1.1em, 1.2vw, 1.4em);
    }
    h5 {
      font-size: clamp(1.1em, 1.5vw, 1.8em);
    }
    div {
      font-size: clamp(0.8em, 1vw, 1em);
    }
  }
}
#playerHandDeck {
  div {
    h3 {
      font-size: clamp(0.9em, 1.2vw, 1.4em);
    }
    h4 {
      font-size: clamp(0.7em, 1vw, 1.1em);
    }
    h5 {
      font-size: clamp(0.9em, 1.2vw, 1.4em);
    }
    div {
      font-size: clamp(0.6em, 0.8vw, 0.8em);
    }
  }
}

//font-size: clamp(1.2rem, 5vw, 3.2rem);
