$gradientColor1: #6a020220;
$gradientColor2: #000000d0;
$stilColor01: #dfe5b0;
$stilColor02: #c8d0a1;
$stilColor03: #bfca9a;
$stilColor04: #a8b991;
$stilColor05: #5c8174;
$stilColor06: #478b85;
$stilColor07: #7d7068;
$stilColor08: #4e4e58;

$stilColor09a: rgb(70, 255, 240);

$typColorF: rgb(255, 89, 0);
$typColorE: rgb(234, 255, 0);
$typColorW: rgb(0, 191, 255);

//Opacity:
//light

$stilColor11: rgba(222, 228, 175, 0.807);
$stilColor12: rgba(199, 207, 161, 0.805);
$stilColor13: rgb(191, 202, 154, 0.805);
$stilColor14: rgb(168, 185, 145, 0.805);
$stilColor15: rgb(92, 129, 116, 0.805);
$stilColor16: rgb(71, 139, 133, 0.805);
$stilColor17: rgb(125, 112, 104, 0.805);
$stilColor18: rgb(78, 78, 88, 0.805);

//middle

$stilColor21: rgba(222, 228, 175, 0.507);
$stilColor22: rgba(199, 207, 161, 0.505);
$stilColor23: rgb(191, 202, 154, 0.505);
$stilColor24: rgb(168, 185, 145, 0.505);
$stilColor25: rgb(92, 129, 116, 0.505);
$stilColor26: rgb(71, 139, 133, 0.505);
$stilColor27: rgb(125, 112, 104, 0.505);
$stilColor28: rgb(78, 78, 88, 0.505);

//strong

$stilColor31: rgba(222, 228, 175, 0.207);
$stilColor32: rgba(199, 207, 161, 0.205);
$stilColor33: rgb(191, 202, 154, 0.205);
$stilColor34: rgb(168, 185, 145, 0.205);
$stilColor35: rgb(92, 129, 116, 0.205);
$stilColor36: rgb(71, 139, 133, 0.205);
$stilColor37: rgb(125, 112, 104, 0.205);
$stilColor38: rgb(78, 78, 88, 0.205);
